$output-bourbon-deprecation-warnings: false !default
@import ../../bourbon/bourbon
@import libs
@import vars
@import settings

.main-head
  color: $white
  position: relative
  min-height: 100vh
  .top-line
    padding: 20px 0
    position: relative
    z-index: 10
    h3
      margin-top: 0
    .top-contacts
      .phone
        margin-top: 0
        font-family: "Exo 2", serif
        font-weight: bold
        font-size: em(28px)
        a
          color: #fff
      .address
        font-size: em(18px)
      .fa
        margin-right: 6px
      .button
        padding: 7px 20px
  .header-content
    padding-top: 15%
    h1
      margin-bottom: 50px
      text-shadow: 0 5px 10px rgba($color, .7)
      color: #fff
      span
        color: $pink
    h3
      text-transform: none
      text-shadow: 0 5px 10px rgba($color, .7)
      color: #fff
      margin-bottom: 60px
    p
      font-size: em(20px)
      font-family: "Open Sans Light", sans-serif
      color: #fff
      text-shadow: 0 5px 10px rgba($color, .7)

.slider-head
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: -10


.toggle_mnu
  width: 60px
  height: 60px
  float: left
  background-color: transparent
  position: fixed
  left: 40px
  top: 40px
  z-index: 100
  border: 2px solid $blue
  border-radius: 4px
  span
    display: block

//menu-button
$w: 38px
$h: 4px

.sandwich
  width: $w
  height: $w
  position: absolute
  top: 8px
  bottom: 0
  left: 0
  right: 0
  margin: auto
  z-index: 200
  &.active
    .sw-topper
      top: 10px
      transform: rotate(-45deg)
      background-color: $blue

    .sw-bottom
      top: 6px
      transform: rotate(45deg)
      background-color: $blue

    .sw-footer
      opacity: 0
      top: 0
      transform: rotate(180deg)
      background-color: $blue

.sw-topper
  position: relative
  top: 0
  width: $w
  height: $h
  background-color: $white
  border: none
  border-radius: 4px 4px 4px 4px
  transition: transform 0.5s, top 0.2s
  display: block

.sw-bottom
  position: relative
  width: $w
  height: $h
  top: $h * 2.5
  background-color: $white
  border: none
  border-radius: 4px 4px 4px 4px
  transition: transform 0.5s, top 0.2s
  transition-delay: 0.2s, 0s

.sw-footer
  position: relative
  width: $w
  height: $h
  top: $h * 5
  background-color: $white
  border: none
  border-radius: 4px 4px 4px 4px
  transition: all 0.5s
  transition-delay: 0.1s

.top_mnu
  position: fixed
  width: 250px
  height: 100%
  background-color: $lightblue
  z-index: 50
  left: 0
  top: 0
  display: none
  ul
    list-style-type: none
    padding: 0
    margin: 180px 0 0 0
    text-align: center
    li
      display: block
      &:hover
        background-color: $pink
        color: $white
      a
        color: $pink
        text-shadow: 0 5px 5px rgba($pink, .7)
        font-family: "Open Sans SemiBold", sans-serif
        display: block
        padding: 20px 0
        text-transform: uppercase
        text-decoration: none
        font-size: 12px
        opacity: 0
        +mt(.5s)
        position: relative
        &:hover
          color: $white
      span
        display: block
        position: relative
        top: -38px
        left: 0
        height: 100%
        +transition(all 0.5s ease)
        &:hover
          background-color: rgba(255, 255, 255, 0.08)
.hvr-shutter-out-vertical
  background-color: $lightblue

.s-about
  padding-top: 100px
  .about-wrap
    display: flex
    flex-direction: row
    justify-content: space-around
  &-item
    max-width: 150px
    &:hover
      img
        transform: scale(1.1)
    img
      +mt(.5s)
      width: 150px
      margin-bottom: 20px

.s-works
  background-color: $lightblue
  .col-md-4
    padding: 10px 10px
  .slide
    position: relative
    overflow: hidden
    display: block
    box-shadow: 0 5px 10px rgba($color, .4)
    a
      display: block
    &:hover
      .slide-content
        opacity: 1
        transform: scale(.95)
      img
        transform: scale(1.1)
    img
      +mt(.5s)
    &-content
      position: absolute
      color: #fff
      padding: 10% 10px 0
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      background-color: rgba($pink, .65)
      text-align: center
      +mt(.5s)
      .fa
        color: lighten($white, 10%)
        font-size: 40px
        padding: 20px 20px 5px
  h3
    text-transform: none
    font-size: em(20px)

.slide-popup
  position: relative
  background-color: #fff
  max-width: 900px
  margin: auto
  text-align: center
  display: block
  +mt(.25s)
  .col-sm-12
    padding: 0

.s-features
  color: $white
  .heading
    margin-bottom: 50px
    h2
      margin-bottom: 30px
    p
      font-size: em(18px)
  .feat-wrap
    display: flex
    flex-direction: row
    justify-content: space-around
    .s-feat-item
      .img-svg
        width: 150px
        height: auto
        margin-bottom: 20px
      .item-text
        span
          color: $yellow
          font-size: em(22px)


.action
  padding: 50px 0
  h2
    margin-bottom: 20px
  h3
    margin-bottom: 40px
    font-size: em(40px)
    text-shadow: 0 5px 3px rgba($blue, .5)
    color: $blue
  h4
    font-size: em(22px)


.s-contacts
  background-color: lighten($blue, 20%)
  color: $white
  padding-top: 60px

.form
  display: block
  padding: 20px 30px
  border: 1px solid rgba($pink, 20%)
  border-radius: 8px
  margin-bottom: 50px
  &-head
    h3
      margin: 5px 0 15px
    p
      margin-bottom: 25px
  label
    display: block
    span
      display: block
      color: rgba($white, .7)
      margin-bottom: 5px
    input, textarea
      display: block
      width: 100%
      outline: none
      background-color: transparent
      color: $white
      border: 1px solid rgba($pink, 20%)
      border-radius: 5px
      margin-bottom: 20px
      padding: 10px 16px
  .button
    margin-top: 20px

.contacts-text
  h3
    margin-bottom: 30px
    text-transform: none
  p
    margin-bottom: 20px
  .fa
    margin-right: 8px
    width: 15px
    font-size: 20px
  a
    text-decoration: underline
    color: $white
    .img-svg
      margin-top: 20px
      margin-right: 20px
    &:hover, &:focus
      color: rgba($white, .7) !important
      .img-svg
        path
          fill: $accent !important
.map
  margin-top: 30px

.form.form-callback
  background-color: rgba($white, .1)
  h4
    margin-bottom: 30px
  input
    margin-bottom: 30px
  .button
    margin-top: 10px
